<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="login-box bg-light p-4 w-50">
    <form #recoveryForm="ngForm">
      <div class="row">
        <div class="col-sm-12 login-title text-center">
          <img src="assets/img/clock.png" alt="logo" width="120" />
          <p class="text-dark">Timer 4ward</p>
        </div>

        <div class="col-sm-12">
          <p class="text-body">Sua nova senha deve conter no minimo 6 caracteres</p>
        </div>
        <div class="col-sm-12 form-group">
          <label for="email">Nova Senha</label>
          <input
            type="password"
            required
            ngModel
            name="password"
            id="password"
            class="form-control"
            placeholder="*********"
          />
        </div>

        <div class="col-sm-12 form-group">
          <label for="password">Confirme a Senha</label>
          <input
            type="passwordConfirm"
            required
            name="passwordConfirm"
            ngModel
            id="passwordConfirm"
            class="form-control"
            placeholder="***********"
          />
        </div>

        <div class="col-sm-12 text-center">
          <button *ngIf="!isLoading" class="btn btn-dark" (click)="sendNewPassword(recoveryForm)">
            <i class="fa fa-check"></i> Confirmar
          </button>
          <button *ngIf="isLoading" class="btn btn-dark" disabled>
            <i class="fa fa-spin fa-spinner"></i> Processando...
          </button>
        </div>
      </div>
    </form>
  </div>
  <small style="position: absolute; bottom: 0; padding: 20px;">&copy; DomjSoftware 2020</small>
</div>
