<div class="row">
  <!-- SIDEBAR -->
  <div class="col-sm-12 col-md-2 sidebar"></div>

  <!-- PAGE CONTENT -->
  <div class="col-sm-12 col-md-7 page-content">
    <div class="card m-1 mt-2">
      <div class="card-header"><i class="fa fa-table"></i> Últimos Lançamentos</div>
      <div class="body">
        <tf-launch-table
          [costCenterList]="costCenterList$ | async"
          [loggedUser]="loggedUser$ | async"
        ></tf-launch-table>
      </div>
    </div>
  </div>

  <!-- ASIDEBAR -->
  <div class="col-sm-12 col-md-3 asidebar">
    <tf-launch-form [costCenterList]="costCenterList$ | async"></tf-launch-form>
    <tf-cost-center *ngIf="(loggedUser$ | async)?.role === 'admin'"></tf-cost-center>
  </div>
</div>
